/yolov5_master/.idea/
/yolov5_master/yolov5/.idea/
/yolov5_master/yolov5/runs/
/photo/
/logs/
/cache/
/backup/
/runs/
/video/
/System/logs/
/EnlightenGAN-inference-main/.idea/
__pycache__/
*.pyc
STP_config.yaml